<!--<div class="container">
    <h1>The Email Service 
</h1>
    <h2>Send email using various providers in the market</h2>
    <h3>APIs that enable you to send,
receive and track email effortlessly</h3>
    <h4>Click on Send Email Menu for more</h4>
   
</div>-->

<div class="container" ng-controller="MailInfoCtrl">
   
        <h1>{{Test}}</h1>
       
<p class="row">
        <img class="pull-right" heigh="300" src="Images/MailGun.png">
        The Email Service For Developers.Powerful APIs that enable you to send,receive and track email effortlessly. 10,000 emails free every month.

       

    </p>
    <p class="row">
        <img class="pull-right" heigh="300" src="Images/SendGrid.png">

        SendGrid is a Denver, Colorado-based customer communication platform for transactional and marketing email. The company was founded by Isaac Saldana, Jose Lopez, and Tim Jenkins in 2009, and incubated through the TechStars accelerator program.    </p>
</div>