<div class="container" ng-controller="SendMailCtrl">
    <h2>{{Test}}</h2>
    
    <form >
        <h3> {{ReturnValue}}</h3>
        <div class="form-group">
            <label for="email">Main Recipient Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter to email" name="email" ng-model="to">
        </div>
        <div class="form-group">
            <label for="CC">CC Recipient Email :</label>
            <input type="text" class="form-control" id="CC" placeholder="Enter CC email" name="CC" ng-model="cc">
        </div>
        <div class="form-group">
            <label for="BCC">BCC Recipient Email :</label>
            <input type="email" class="form-control" id="BCC" placeholder="Enter BCC email" name="BCC" ng-model="bcc">
        </div>

        <div class="form-group">
            <label for="subject">Mail Subject:</label>
            <input type="text" class="form-control" id="subject" placeholder="Enter email Subject" name="subject" ng-model="subject">
        </div>
        <div class="form-group">
            <label for="comment">Mail Body:</label>
            <textarea class="form-control" rows="5" id="comment" ng-model="text"></textarea>
        </div>
        <button type="submit" class="btn btn-default" ng-click="SendEmail()">Submit</button>


    </form>
</div>